#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	# Build the daemon
	$(MAKE) -C ../daemon
	# Build the R package
	R CMD build ../r-pkg

override_dh_auto_install:
	# Install daemon
	install -d debian/rapt/usr/bin
	install -m 755 ../daemon/raptd debian/rapt/usr/bin/
	# Install R package
	install -d debian/rapt/usr/lib/R/site-library
	R CMD INSTALL --library=debian/rapt/usr/lib/R/site-library rapt_*.tar.gz
	rm -f rapt_*.tar.gz
	# Install profile.d directory
	install -d debian/rapt/etc/R/profile.d
	install -m 0644 debian/rapt.R debian/rapt/etc/R/profile.d
	# Install man page
	install -d debian/rapt/usr/share/man/man1
	install -m 644 debian/raptd.1 debian/rapt/usr/share/man/man1/
	# Install APT config (disable recommends for R packages)
	install -d debian/rapt/etc/apt/apt.conf.d
	install -m 644 debian/90rapt-no-recommends debian/rapt/etc/apt/apt.conf.d/

override_dh_installsystemd:
	dh_installsystemd --name=raptd

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_clean:
	$(MAKE) -C ../daemon clean
	rm -f rapt_*.tar.gz
