# tinyrox says don't edit this manually, but it can't stop you!

export(available_sys)
export(destroy_cache)
export(disable)
export(enable)
export(install_sys)
export(manager)
export(refresh_cache)
export(remove_sys)

useDynLib(rapt, .registration = TRUE)
